@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  /* font-family: 'Square Peg', cursive; */
  user-select: none;
  font-family: monospace;
  /* cursor: pointer; */
}

code {
  font-family: monospace;
}

h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}
li {
  margin: 0;
}
span {
  padding: 0;
}
